<div>
    {{#each this}}
    <section  class="my-2 py-2 bg-sky-100 rounded-lg">
        <div class="pl-4">
            {{user.username}} on {{format_date created_at}}:
        </div>
        <div class="pl-6 pr-4">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>